@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Base global */
@layer base {

  html,
  body {
    @apply bg-neutral-950 text-slate-100;
    min-height: 100%;
  }

  :focus-visible {
    @apply outline-2 outline-offset-2 outline-red-500;
  }
}